# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.InternApplication.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Rider\Projects\InternApplication\.idea\.idea.InternApplication\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
